@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

/**
 * general
 */
.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.top-20 {
  margin-top: 10px;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.w-20 {
  width: 10%;
}

.flex-container {
  display: flex;
}


@media all and (max-width: 856px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

/**
 * body
 */
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  background-color: rgb(60, 63, 64);
}

/**
 * select
 */
select {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em;
  color: rgb(60, 63, 64);
  background-color: rgb(187, 187, 187);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 34px;
}

@media all and (max-width: 856px) {
  select {
    width: 100%;
    text-indent: 18px;
  }
}

/**
 * label
 */
label {
  color: rgb(187, 187, 187);
}

/**
 * button
 */
button {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em;
  color: rgb(60, 63, 64);
  text-align: center;
  background-color: rgb(187, 187, 187);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 34px;
  transition: background-color 0.3s ease;
}

@media all and (max-width: 856px) {
  button {
    width: 100%;
    text-align: left;
    text-indent: 18px;
  }
}

button:hover {
  background-color: rgb(157, 157, 157);
}

button.btn-blue {
  background-color: rgb(137, 212, 235);
}

button.btn-blue:hover {
  background-color: rgb(107, 182, 205);
}

.bw button.btn-blue {
  background-color: rgb(240, 241, 242);
}

.bw button.btn-blue:hover {
  background-color: rgb(210, 211, 212);
}

button.btn-red {
  background-color: rgb(222, 74, 38);
}

button.btn-red:hover {
  background-color: rgb(192, 44, 8);
}

.bw button.btn-red {
  background-color: rgb(240, 241, 242);
}

.bw button.btn-red:hover {
  background-color: rgb(210, 211, 212);
}

button.btn-black {
  background-color: rgb(60, 63, 64);
  color: rgb(240, 240, 240);
}

button.btn-black:hover {
  background-color: rgb(30, 33, 34);
}

button.active {
  background-color: rgb(255, 218, 68);
}

.bw button.active {
  background-color: rgb(0, 0, 0);
  color: rgb(157, 157, 157);
}

.bw button.active:hover {
  background-color: rgb(50, 50, 50);
}

/**
 * button bar
 */
button.button-bar {
  display: block;
  margin-left: 1px;
}

button.button-bar.left {
  border-radius: 4px 0 0 4px;
}

button.button-bar.center {
  border-radius: 0;
}

button.button-bar.right {
  border-radius: 0 4px 4px 0;
}

@media all and (max-width: 856px) {
  button.button-bar.left {
    border-radius: 4px 4px 0 0;
    margin: 0 0 1px 0;
  }

  button.button-bar.center {
    border-radius: 0;
    margin: 0 0 1px 0;
  }

  button.button-bar.right {
    border-radius: 0 0 4px 4px;
    margin: 0 0 0 0;
  }
}

.row {
  padding: 8px;
}

/**
 * application wrapper
 */
.app-wrapper {
  margin: 15px 10px 20px 10px;
}

/*****************************************************************************
 * header
 *****************************************************************************/

header .row .col-1 {
  flex: 1 70%;
}

header .row .col-2 {
  flex: 2 30%;
  text-align: right;
}

@media all and (max-width: 856px) {
  header .row .col-2 {
    flex: 2 30%;
    text-align: right;
    margin-top: 20px;
  }
}

/**
 * task
 */

article {
  padding: 0 16px 8px 16px;
  margin: 10px 8px 10px 8px;
  background-color: rgb(240, 241, 242);
  box-shadow: 0px 0px 8px rgb(20, 23, 24);
  border-radius: 4px;
  color: rgb(60, 63, 64);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

article:hover {
  background-color: rgb(220, 221, 222);
}

article h1 {
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  color: rgb(60, 63, 64);
  display: inline-block;
}

article label {
  color: rgb(60, 63, 64);
  font-style: italic;
}

article button {
  margin-top: 18px;
  width: 90px;
}

/**
 * checkbox
 */

article .checkbox {
}

/**
* main
*/

main .row .col-1 {
  flex: 1 30%;
}

main .row .col-2 {
  flex: 2 50%;
}

main .row .col-3 {
  flex: 1 20%;
  text-align: right;
}

.preview {
  padding: 8px 0 14px 0;
}

/*****************************************************************************
 * form
 *****************************************************************************/

form .input-wrapper {
  margin: 10px;
}

form .input-wrapper label {
  display: inline-block;
  margin-top: 8px;
  width: 10%;
  vertical-align: top;
}

form .input-wrapper input {
  display: inline-block;
  border: none;
  border-radius: 4px;
  width: 70%;
  height: 34px;
  padding: 0 10px;
  font-family: monospace;
  font-size: 1.2em;
  color: rgb(71, 72, 73);
  vertical-align: top;
}

form .input-wrapper textarea {
  display: inline-block;
  border: none;
  border-radius: 4px;
  width: 70%;
  padding: 10px 10px;
  font-family: monospace;
  font-size: 1.2em;
  color: rgb(71, 72, 73);
  vertical-align: top;
}

form .input-wrapper.top-20 {
  margin-top: 20px;
}

/**
 * ranking
 */
form .icon-priority,
article .icon-priority {
  vertical-align: top;
  height: 1.4em;
  width: auto;
}

article .icon-priority:first-of-type {
  margin-left: 12px;
}

form .icon-priority {
  cursor: pointer;
}

form .icon-priority path {
  fill: rgb(187, 187, 187);
}

form .icon-priority.active path {
  fill: rgb(255, 218, 68);
}

article .icon-priority {
  margin-top: 1.1em;
}

article .icon-priority path {
  fill: rgb(60, 63, 64);
}
